TestImageSelector Off
fastReadoutMode Off
ExposureMode Timed
ExposureTime 200
GainSelector SensorAnalog
Gain 1
BlackLevelRaw 1
TriggerMode Off
AcquisitionFrameRate 140
LineSelector Line3
outputLineSource PulseOnStartofExposure
outputLinePulseDuration 60
outputLinePulseDelay 40
LineSelector Line4
outputLineSource PulseOnStartofExposure
outputLinePulseDuration 30
outputLinePulseDelay 0
sensorFpnCorrectionMode Off
