
[Unit]
Description=NIC IRQ Pinning to P-cores, appaarently required by Intel cores
After=network.target

[Service]
Type=oneshot
ExecStart=/home/visss/VISSS/scripts/nic-pin.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target