[Unit]
Description=Slave PTP IEEE 1588 Daemon (ptp4l) for %i
After=network.target

[Service]
EnvironmentFile=/home/visss/VISSS_INTERFACES.env
ExecStart=/usr/sbin/ptp4l -i $%i -m -s
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
