[Unit]
Description=Synchronize FOLLOWER_NIC_INTERNET to system clock using phc2sys
After=network.target
Requires=visss_ptp_slave@FOLLOWER_NIC_INTERNET

[Service]
EnvironmentFile=/home/visss/VISSS_INTERFACES.env
ExecStart=/usr/sbin/phc2sys -s $FOLLOWER_NIC_INTERNET -c CLOCK_REALTIME -O 0 -m -w
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target