[Unit]
Description=Run 5Gbit NIC check every 1 minutes for %i

[Timer]
OnCalendar=*:0/1
Persistent=true
Unit=visss_check-5gbit@%i.service

[Install]
WantedBy=timers.target
