[Unit]
Description=Synchronize system clock to %i using phc2sys
After=network.target

[Service]
EnvironmentFile=/home/visss/VISSS_INTERFACES.env
# -S 0.001: Step the clock if the offset is > 1ms (at any time)
# -w:       Wait for ptp4l to be fully initialized
ExecStart=/usr/sbin/phc2sys -s CLOCK_REALTIME -c $%i -O 0 -S 0.001 -w -m
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target