[Unit]
Description=Run 5Gbit NIC check every 5 minutes for %i

[Timer]
OnBootSec=5s
OnUnitActiveSec=1min
Persistent=true
Unit=visss_check-5gbit@%i.service

[Install]
WantedBy=timers.target
