[Unit]
Description=Synchronize FOLLOWER_NIC_INTERNET to %i using phc2sys
After=network.target
Requires=visss_ptp_slave@FOLLOWER_NIC_INTERNET

[Service]
EnvironmentFile=/home/visss/VISSS_INTERFACES.env
ExecStart=/usr/sbin/phc2sys  -s $FOLLOWER_NIC_INTERNET -c $%i -O 0 -S 0.001 -m -w
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target