[Desktop Entry]
Version=1.0
Name=Sonic Logger
Exec=mate-terminal -e "sh -c '/usr/bin/python3 /home/visss/VISSS/sonic/sonic_serial_datalogger.py; exec bash'"
Terminal=false
Icon=gtkterm
Terminal=false
Type=Application
Categories=Application;

