[Desktop Entry]
Version=1.0
Name=Visss-trigger        
Comment=Launch VISSS trigger process
Exec=gnome-terminal -e 'sh -c "/home/visss/Desktop/VISSS/data-acquisition/launch_visss_data_acquisition.sh --SETTINGS=config_trigger.sh; exec bash"'
Icon=applets-screenshooter
Terminal=false
Type=Application
Categories=Application;

