[Desktop Entry]
Version=1.0
Name=Visss-calibration-size
Comment=Launch VISSS calibration process
Exec=gnome-terminal -e 'sh -c "/home/visss/Desktop/VISSS/data-acquisiton/launch_visss_data_acquisition_calibration_size.sh; exec bash"'
Icon=face-glasses
Terminal=true
Type=Application
Categories=Application;

Name[en_US]=Visss-calibration-size
