[Desktop Entry]
Version=1.0
Name=Visss-slavecalibration
Comment=Launch VISSS calibration process
Exec=gnome-terminal -e 'sh -c "/home/visss/Desktop/VISSS/data-acquisiton/launch_visss_data_acquisition_calibration.sh; exec bash"'
Icon=face-glasses
Terminal=false
Type=Application
Categories=Application;

Name[en_US]=Visss-calibration
