TestImageSelector Off
AcquisitionFrameRate 100
fastReadoutMode Off
ExposureMode Timed
ExposureTime 100
GainSelector SensorAnalog
Gain 1
BlackLevelRaw 1
LineSelector Line3
outputLineSource PulseOnStartofExposure
outputLinePulseDuration 60
outputLinePulseDelay 20
LineSelector Line4
outputLineSource PulseOnStartofExposure
outputLinePulseDuration 30
outputLinePulseDelay 0