TestImageSelector Off
AcquisitionFrameRate 20
fastReadoutMode Off
ExposureMode Timed
ExposureTime 49000
GainSelector SensorAnalog
Gain 3
BlackLevelRaw 1
LineSelector Line3
outputLineSource PulseOnStartofExposure
outputLinePulseDuration 150
outputLinePulseDelay 10
LineSelector Line4
outputLineSource PulseOnStartofExposure
outputLinePulseDuration 150
outputLinePulseDelay 0